# Recap

Let's review what we saw and learn some new stuff about Python, will you?

# Pandas

## Import a dataset

In [3]:
from pprint import pprint
import pandas as pd
from sklearn import datasets

# importer le dataset des iris
iris = datasets.load_iris()

In [4]:
# What is the type of the variable "iris"?
type(iris)

sklearn.utils._bunch.Bunch

If you want to know more about what a Bunch is, then read this : [sklearn Bunch](https://scikit-learn.org/stable/modules/generated/sklearn.utils.Bunch.html)

In [5]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [42]:
pprint(iris.DESCR)

('.. _iris_dataset:\n'
 '\n'
 'Iris plants dataset\n'
 '--------------------\n'
 '\n'
 '**Data Set Characteristics:**\n'
 '\n'
 '    :Number of Instances: 150 (50 in each of three classes)\n'
 '    :Number of Attributes: 4 numeric, predictive attributes and the class\n'
 '    :Attribute Information:\n'
 '        - sepal length in cm\n'
 '        - sepal width in cm\n'
 '        - petal length in cm\n'
 '        - petal width in cm\n'
 '        - class:\n'
 '                - Iris-Setosa\n'
 '                - Iris-Versicolour\n'
 '                - Iris-Virginica\n'
 '                \n'
 '    :Summary Statistics:\n'
 '\n'
 '    ============== ==== ==== ======= ===== ====================\n'
 '                    Min  Max   Mean    SD   Class Correlation\n'
 '    ============== ==== ==== ======= ===== ====================\n'
 '    sepal length:   4.3  7.9   5.84   0.83    0.7826\n'
 '    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n'
 '    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n'
 '    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n'
 '    ============== ==== ==== ======= ===== ====================\n'
 '\n'
 '    :Missing Attribute Values: None\n'
 '    :Class Distribution: 33.3% for each of 3 classes.\n'
 '    :Creator: R.A. Fisher\n'
 '    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n'
 '    :Date: July, 1988\n'
 '\n'
 'The famous Iris database, first used by Sir R.A. Fisher. The dataset is '
 'taken\n'
 "from Fisher's paper. Note that it's the same as in R, but not as in the UCI\n"
 'Machine Learning Repository, which has two wrong data points.\n'
 '\n'
 'This is perhaps the best known database to be found in the\n'
 "pattern recognition literature.  Fisher's paper is a classic in the field "
 'and\n'
 'is referenced frequently to this day.  (See Duda & Hart, for example.)  The\n'
 'data set contains 3 classes of 50 instances each, where each class refers to '
 'a\n'
 'type of iris plant.  One class is linearly separable from the other 2; the\n'
 'latter are NOT linearly separable from each other.\n'
 '\n'
 '|details-start|\n'
 '**References**\n'
 '|details-split|\n'
 '\n'
 '- Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n'
 '  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n'
 '  Mathematical Statistics" (John Wiley, NY, 1950).\n'
 '- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene '
 'Analysis.\n'
 '  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n'
 '- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n'
 '  Structure and Classification Rule for Recognition in Partially Exposed\n'
 '  Environments".  IEEE Transactions on Pattern Analysis and Machine\n'
 '  Intelligence, Vol. PAMI-2, No. 1, 67-71.\n'
 '- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE '
 'Transactions\n'
 '  on Information Theory, May 1972, 431-433.\n'
 '- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n'
 '  conceptual clustering system finds 3 classes in the data.\n'
 '- Many, many more ...\n'
 '\n'
 '|details-end|')

## Dataset to DataFrame

In [8]:
# transform the array and JSON into a dataframe and set the column names from the key feature_names
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [9]:
df["target"] = pd.DataFrame(iris.target)

In [10]:
df["species"] = df["target"].apply(lambda x: 'setosa' if x == 0 
                                    else 'versicolor' if x == 1 
                                    else 'virginica' if x == 2
                                    else 'unknown')

In [46]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [11]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [13]:
# save the data as a csv
df.to_csv('iris.csv', index=False)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

## Filters

In [14]:
df = pd.read_csv('iris.csv')
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'species'],
      dtype='object')

## Projection

In [50]:
columns_to_keep = ['sepal length (cm)', 'sepal width (cm)']
filtered_df = df[columns_to_keep]
filtered_df.head()

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

## Restriction

In [51]:
df =pd.read_csv('iris.csv')
mask = df['sepal length (cm)'] > 5
filtered_df = df[mask]
filtered_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
5,5.4,3.9,1.7,0.4,0,setosa
10,5.4,3.7,1.5,0.2,0,setosa
14,5.8,4.0,1.2,0.2,0,setosa
15,5.7,4.4,1.5,0.4,0,setosa

In [52]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [53]:
mask

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal length (cm), Length: 150, dtype: bool

In [54]:
filtered_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
5,5.4,3.9,1.7,0.4,0,setosa
10,5.4,3.7,1.5,0.2,0,setosa
14,5.8,4.0,1.2,0.2,0,setosa
15,5.7,4.4,1.5,0.4,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

## loc & iloc

In [15]:
df = pd.read_csv('iris.csv')
filtered_df = df.loc[1:3, ['sepal length (cm)', 'petal length (cm)']]
filtered_df

   sepal length (cm)  petal length (cm)
1                4.9                1.4
2                4.7                1.3
3                4.6                1.5

In [17]:
df = pd.read_csv('iris.csv')
filtered_df = df.iloc[1:4, [0, 2]]
filtered_df

   sepal length (cm)  petal length (cm)
1                4.9                1.4
2                4.7                1.3
3                4.6                1.5

In [57]:
filtered_df = df.loc[1:3,:]
filtered_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa

## Unions

In [58]:
first_df = df.iloc[2:4]
second_df = df.iloc[5:7]
union_df = pd.concat([first_df, second_df], axis=0)
union_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
5,5.4,3.9,1.7,0.4,0,setosa
6,4.6,3.4,1.4,0.3,0,setosa

In [59]:
df_petal = df[['petal length (cm)', 'petal width (cm)']]
df_sepal = df[['sepal length (cm)', 'sepal width (cm)']]
union_df = pd.concat([df_petal, df_sepal], axis=1)
union_df.head()

   petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
0                1.4               0.2                5.1               3.5
1                1.4               0.2                4.9               3.0
2                1.3               0.2                4.7               3.2
3                1.5               0.2                4.6               3.1
4                1.4               0.2                5.0               3.6

## Create new columns

In [60]:
df["my_custom_column"] = 0
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species,my_custom_column
0,5.1,3.5,1.4,0.2,0,setosa,0
1,4.9,3.0,1.4,0.2,0,setosa,0
2,4.7,3.2,1.3,0.2,0,setosa,0
3,4.6,3.1,1.5,0.2,0,setosa,0
4,5.0,3.6,1.4,0.2,0,setosa,0

In [61]:
df = pd.read_csv('iris.csv')
df["petal_area"] = df["petal length (cm)"] * df["petal width (cm)"]
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species,petal_area
0,5.1,3.5,1.4,0.2,0,setosa,0.28
1,4.9,3.0,1.4,0.2,0,setosa,0.28
2,4.7,3.2,1.3,0.2,0,setosa,0.26
3,4.6,3.1,1.5,0.2,0,setosa,0.30
4,5.0,3.6,1.4,0.2,0,setosa,0.28

## Aggregation

In [62]:
df[["species", "petal length (cm)"]].groupby("species").mean()

            petal length (cm)
species
setosa                  1.462
versicolor              4.260
virginica               5.552

In [63]:
filtered_df = df[["species", "petal length (cm)"]]
groupby_df = filtered_df.groupby("species")
groupby_df.mean()

            petal length (cm)
species
setosa                  1.462
versicolor              4.260
virginica               5.552

## JOINTS

In [64]:
df_species = pd.DataFrame(
    {
        "species": iris.target_names,
        "country": ["France", "Germany", "Poland"]
    }
)

In [65]:
df_species

      species  country
0      setosa   France
1  versicolor  Germany
2   virginica   Poland

In [66]:
merged_df = pd.merge(df, df_species, on="species", how="left")
merged_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species,petal_area,country
0,5.1,3.5,1.4,0.2,0,setosa,0.28,France
1,4.9,3.0,1.4,0.2,0,setosa,0.28,France
2,4.7,3.2,1.3,0.2,0,setosa,0.26,France
3,4.6,3.1,1.5,0.2,0,setosa,0.30,France
4,5.0,3.6,1.4,0.2,0,setosa,0.28,France

If the columns to be joined don't have the same name, use the "left_on" and "right_on" parameters. Of course, you can also join on
 several columns, in which case you'll pass lists to the

## Advanced Pandas

### Pivot table

In [67]:
pd.pivot_table(df, index="species", values=[
    'sepal length (cm)', 
    'sepal width (cm)',
    'petal length (cm)',
    'petal width (cm)'
], aggfunc="mean")

,petal length (cm),petal width (cm),sepal length (cm),sepal width (cm)
species,,,,
setosa,1.462,0.246,5.006,3.428
versicolor,4.260,1.326,5.936,2.770
virginica,5.552,2.026,6.588,2.974

### Melt table

In [68]:
df_first_two_row = df.sample(2).reset_index()
df_first_two_row

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species,petal_area
0,79,5.7,2.6,3.5,1.0,1,versicolor,3.50
1,102,7.1,3.0,5.9,2.1,2,virginica,12.39

In [69]:
pd.melt(df_first_two_row, id_vars=["index"], value_vars=[
    'petal length (cm)', 
    'petal width (cm)',
    'species'
])

   index           variable       value
0     79  petal length (cm)         3.5
1    102  petal length (cm)         5.9
2     79   petal width (cm)         1.0
3    102   petal width (cm)         2.1
4     79            species  versicolor
5    102            species   virginica

### Text processing

In [70]:
my_string = "petal length (cm)"
my_splitted_string = my_string.split(" ")
print(my_splitted_string)
####

my_first_two_element = my_splitted_string[:2]
print(my_first_two_element)
####

my_processed_string = "_".join(my_first_two_element)
print(my_processed_string)
####

my_processed_string_in_one_line = "_".join(my_string.split(" ")[:2])
print(my_processed_string_in_one_line)

['petal', 'length', '(cm)']
['petal', 'length']
petal_length
petal_length

In [71]:
melted_df = pd.melt(df_first_two_row, id_vars=["index"], value_vars=[
    'petal length (cm)',
    'petal width (cm)',
    'species'
])
melted_df["variable"] = melted_df["variable"].str.split(" ").str[:2].str.join("_")
melted_df

   index      variable       value
0     79  petal_length         3.5
1    102  petal_length         5.9
2     79   petal_width         1.0
3    102   petal_width         2.1
4     79       species  versicolor
5    102       species   virginica

## Summary

- The dataframe is the flagship object of the pandas package
- A dataframe represents tabular data
- A dataframe is made up of rows, columns and an index
- A CSV can be read and stored in a pandas dataframe, using the "read_csv" function. It is also possible to export a dataframe to a csv file using a dataframe's "to_csv" method.
- It is possible to filter a dataframe:
    - by rows: this is called a restriction 
    - by column: this is called projection 
- Dataframe unions can be created using the "concat()" function in pandas. These unions can be in rows or columns.
- A new pandas dataframe column can be created by specifying the dataframe with the name of the column to be created and assigning the desired value.
- Aggregation is possible via the "groupby()" method.
- An aggregation requires:
    - A partition key
    - An aggregation function
- Joins can be made between different dataframes, using the "merge()" function.

- It is possible to perform an Excel-style pivot using the "pivot_table()" method.
- The "melt()" method transforms each cell of a dataframe into two columns: the corresponding column and the individual's value for that column.
- It is possible to perform a huge amount of processing on text columns by applying .str to a Series pandas.
- There are two main types of variable:
    - Quantitative variables: representing numerical values
    - Qualitative variables: representing modalities
- Quantitative variables can be :
    - continuous: taking real values
    - discrete: taking integer values
- Qualitative variables can be :
    - Ordinal: can be ordered
    - Nominal: not able to be ordered
- A descriptive statistic is a numerical quantity calculated for descriptive purposes.
- A descriptive statistic is said to be univariate if the statistic is calculated on a single variable, bivariate if calculated on two.
- A missing value is a variable value that is not provided for a given individual.
- It is important to try to understand the cause of a missing value.
- There are several ways of dealing with a missing value, such as removing the individual from the analysis or imputing the value.
- Outliers are individuals who are particularly different from other individuals in the value of one or more of their variables.
- There are many methods for detecting outliers (statistical rules, business rules, modelling, etc.).
- To manage an outlier, it is possible to delete the individual or dedicate a separate analysis to these individuals.